.blob1 {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #8d8cda;
  z-index: -1;
  position: absolute;
  top: -60%;
  left: 20%;
  filter: blur(150px);
}

.blob2 {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #88d0d1;
  z-index: -1;
  position: absolute;
  top: 60%;
  right: -30%;
  filter: blur(150px);
}

.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7rem;
}

.content {
  max-width: 450px;
}

.bigTitle {
  font-size: 80px;
  font-weight: 600;
}

.heroDescription {
  max-width: 300px;
}
