.bigContainer {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0rem 8rem;
  color: white;
}

.containerMini {
  max-width: 36rem;
  padding: 3rem 1rem;
}

.containerHome {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
  font-size: 1.3rem;
  font-weight: 600;
}

.goTop {
  width: 35px;
  height: 35px;
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 6px;
  background-color: white;
  scale: 0;
  transition: 0.15s ease-in-out;
}

.goTopActive {
  scale: 1;
}
