.navbar {
  width: 100%;
  height: 70px;
  padding: 0 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #21252900;
  position: fixed;
  transition: 0.25s ease-in-out;
}

.activeNavbar {
  border-bottom: 1px solid #212529;
  background-color: rgba(0, 0, 0, 0.356);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.logo {
  display: flex;
  align-items: center;
  color: white;
}

.logo h1 {
  margin: 0 1rem;
}

.links {
  color: #99a0a7;
  font-weight: 500;
  font-size: 15px;
}

.links ul {
  display: flex;
  align-items: center;
}

.item {
  margin: 0 1rem;
  transition: 0.15s ease;
}

.item:hover,
.item:focus,
.item:active {
  color: #dee2e6;
}
