.navbar {
  width: 100%;
  height: 70px;
  padding: 0 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  transition: 0.2s ease;
}

.activeNavbar {
  border-bottom: 1px solid #212529;
  background-color: rgba(0, 0, 0, 0.856);
}

.logo {
  display: flex;
  align-items: center;
  color: white;
}

.logo h1 {
  margin: 0 1rem;
}

.links {
  color: #6c757d;
  font-weight: 500;
  font-size: 15px;
}

.links ul {
  display: flex;
  align-items: center;
}

.item {
  margin: 0 1rem;
  transition: 0.15s ease;
}

.item:hover,
.item:focus,
.item:active {
  color: #ced4da;
}
